{% extends 'mailout/base.html' %}

{% block content %}
<section id="hero" class="d-flex align-items-end">
    <div class="container position-relative">
        <form method="post" class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Удалить клиента
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        <p>Вы действительно хотите удалить клиента {{ object.first_name }}?</p>
                        <button type="submit" class="btn btn-outline-danger">
                            Удалить
                        </button>
                        <a class="btn btn-outline-warning" href="{% url 'mailout:client_view' object.pk %}">Отмена</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}