{% extends 'mailout/base.html' %}

{% block content %}
<section id="hero" class="d-flex align-items-end">
    <div class="container position-relative">

        <div class="row">
            <div class="col-12 mb-5">
            </div>
            {% for object in object_list %}
            <div class="col-md-6">
                <div class="card mb-6 box-shadow">
                    <div class="card-header">Лог сообщения {{ object.message.pk }}</div>
                    <div class="card-body">
                        <p><span class="card-text">Последняя попытка отправки: {{ object.last_attempt }}</span></p>
                        <span class="text-muted">Статус: {{ object.status }}</span><br>
                        <span class="text-muted">Ответ сервера: {{ object.server_response }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}