{% extends 'mailout/base.html' %}

{% block content %}
<section id="hero" class="d-flex align-items-end">
    <div class="container position-relative">
        <!--<div class="col-12">-->
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <h3 class="card-title">Информация о рассылке</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <tr>
                                <th>Кому</th>
                                <th>Тема сообщения</th>
                                <th>Содержание</th>
                                <th>Время начала</th>
                                <th>Время завершения</th>
                                <th>Периодичность</th>
                                <th>Статус рассылки</th>
                            </tr>
                            <tr>
                                <td>{% for client_item in object.clients.all %}
                <br>- {{ client_item.first_name }} {{ client_item.last_name }} ({{ client_item.email }})
                                    {% endfor %}
                                </td>
                                <td>{{ object.message.subject }}</td>
                                <td>{{ object.message.body }}</td>
                                <td>{{ object.start_time }}</td>
                                <td>{{ object.finish_time }}</td>

                                {% if object.freq in 'DY' %}
                                <td>ежедневная</td>
                                {% elif object.freq in 'WK' %}
                                <td>еженедельная</td>
                                {% else %}
                                <td>ежемесячная</td>
                                {% endif %}

                                {% if object.status in 'CREATED' %}
                                <td>создана</td>
                                {% elif object.status in 'STARTED' %}
                                <td>запущена</td>
                                {% else %}
                                <td>завершена</td>
                                {% endif %}
                            </tr>

                        </table>
                    </div>
                </div>
                <div class="btn-group">
                    <a href="{% url 'mailout:update' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">Редактировать</a>
                    <a href="{% url 'mailout:delete' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-danger">Удалить</a>
                    <a href="{% url 'mailout:log_list' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">Логи</a>
                    <a href="{% url 'mailout:list' %}" type="button"
                       class="btn btn-sm btn-outline-secondary">Назад к списку</a>
                </div>
                {% if object.is_active %}
                <a href="{% url 'mailout:toggle_activity_mailout' object.pk %}"
                   class="btn btn-sm btn-outline-danger position-absolute bottom--10 end-0">Приостановить</a>
                {% else %}
                <a href="{% url 'mailout:toggle_activity_mailout' object.pk %}"
                   class="btn btn-sm btn-outline-primary position-absolute bottom--10 end-0">Запустить</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}