{% extends 'mailout/base.html' %}

{% block content %}
<section id="hero" class="d-flex align-items-end">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <form method="post" enctype="multipart/form-data" class="row">

            <div class="col-12">
                <div class="card">
                    <div class="card-header">Новое сообщение</div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
<!--                        <p><a href="{% url 'mailout:create' %}">Настройки рассылки</a></p>-->
                        <button type="submit" class="btn btn-outline-success">
                            {% if object %}
                            Сохранить
                            {% else %}
                            Добавить
                            {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}