{% extends 'mailout/base.html' %}

{% block content %}
<section id="hero" class="d-flex align-items-end">
    <div class="container position-relative">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Ошибка подтверждения по электронной почте</h4>
            <p>Ссылка для подтверждения по электронной почте недействительна или срок её действия истёк. Пожалуйста,
                зарегистрируйтесь снова.</p>
        </div>
    </div>
</section>
{% endblock %}