<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="{% url 'mailout:index' %}">YouSend</a></h1>
        <nav id="navbar" class="navbar">
            <ul>
                {% if user.is_authenticated %}
                <li class="dropdown"><a href="{% url 'users:profile' %}"><span>Профиль</span> <i
                        class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li class="dropdown"><a href="{% url 'users:logout' %}"><span>Выйти</span></a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{% url 'users:login' %}">Войти</a></li>
                <li><a href="{% url 'users:register' %}">Регистрация</a></li>
                {% endif %}
                <li><a href="{% url 'mailout:index' %}">Главная</a></li>
                <li><a href="{% url 'mailout:list' %}">Рассылки</a></li>
                <li><a href="{% url 'mailout:message_list' %}">Готовые сообщения</a></li>
                <li><a href="{% url 'mailout:client_list' %}">Клиенты</a></li>
                <li><a href="{% url 'users:user_list' %}">Пользователи</a></li>
                <li><a href="{% url 'blog:blog_list' %}">Блог</a></li>
                <li><a href="{% url 'mailout:contact' %}">Контакты</a></li>

                <li><a class="getstarted scrollto" href="#about">Okaaay, let's go.</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>